# .editorconfig について詳しくは、次をご覧ください https://aka.ms/editorconfigdocs

###############################
# Core EditorConfig Options   #
###############################

root = true

[*]
indent_style = space
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

[*.cs]
indent_size = 4
charset = utf-8-bom

[*.json]
indent_size = 2
charset = utf-8

[*.yml]
indent_size = 2
charset = utf-8

[*.{xml,csproj,props,config}]
indent_size = 2
charset = utf-8

###############################
# .NET Coding Conventions     #
###############################

[*.cs]

# Organize usings
dotnet_sort_system_directives_first = true

# this. preferences
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_event = true:warning

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:suggestion

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_readonly_field = true:suggestion

# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_null_propagation = true:warning
dotnet_style_coalesce_expression = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
dotnet_prefer_inferred_tuple_names = true:suggestion
dotnet_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = false:silent
dotnet_style_prefer_conditional_expression_over_return = false:silent

###############################
# Naming Conventions          #
###############################

# Style Definitions
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case_starts_with_upper_case_i.prefix = I
dotnet_naming_style.pascal_case_starts_with_upper_case_i.capitalization = pascal_case

dotnet_naming_style.pascal_case_starts_with_upper_case_t.prefix = T
dotnet_naming_style.pascal_case_starts_with_upper_case_t.capitalization = pascal_case

dotnet_naming_style.camel_case.capitalization = camel_case

dotnet_naming_style.camel_case_starts_with_underscore.prefix = _
dotnet_naming_style.camel_case_starts_with_underscore.capitalization = camel_case

# Rule Definitions
dotnet_naming_rule.interface.symbols = interfaces
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_rule.interfaces.style = style_pascal_case_starting_upper_case_i
dotnet_naming_rule.interfaces.severity = warning

dotnet_naming_rule.type_parameters.symbols = type_parameters
dotnet_naming_symbols.type_parameters.applicable_kinds = type_parameter
dotnet_naming_rule.type_parameters.style = pascal_case_starts_with_upper_case_t
dotnet_naming_rule.type_parameters.severity = warning

dotnet_naming_rule.constants.symbols = constants
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = *
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_rule.constants.style = pascal_case
dotnet_naming_rule.constants.severity = warning

dotnet_naming_rule.private_fields.symbols = private_fields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_rule.private_fields.style = camel_case_starts_with_underscore
dotnet_naming_rule.private_fields.severity = warning

dotnet_naming_rule.non_private_readonly_fields.symbols = non_private_fields
dotnet_naming_symbols.non_private_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_fields.applicable_accessibilities = *
dotnet_naming_rule.non_private_fields.style = pascal_case
dotnet_naming_rule.non_private_fields.severity = warning

dotnet_naming_rule.parameters.symbols = parameters
dotnet_naming_symbols.parameters.applicable_kinds = parameter
dotnet_naming_rule.parameters.style = camel_case
dotnet_naming_rule.parameters.severity = warning

dotnet_naming_rule.local_variables.symbols = local_variables
dotnet_naming_symbols.local_variables.applicable_kinds = local
dotnet_naming_rule.local_variables.style = camel_case
dotnet_naming_rule.local_variables.severity = warning

dotnet_naming_rule.other_identifiers.symbols = other_identifiers
dotnet_naming_symbols.other_identifiers.applicable_kinds = namespace,class,struct,enum,property,method,event,delegate,local_function
dotnet_naming_symbols.other_identifiers.applicable_accessibilities = *
dotnet_naming_rule.other_identifiers.style = pascal_case
dotnet_naming_rule.other_identifiers.severity = warning

###############################
# C# Coding Conventions       #
###############################

[*.cs]

# var preferences
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent

# Expression-bodied members
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = false:silent
csharp_style_expression_bodied_indexers = false:silent
csharp_style_expression_bodied_accessors = false:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning

# Null-checking preferences
csharp_style_throw_expression = false:silent
csharp_style_conditional_delegate_call = true:warning

# Modifier preferences
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:warning

# Expression-level preferences
csharp_prefer_braces = true:warning
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:warning
csharp_style_inlined_variable_declaration = true:warning

###############################
# C# Formatting Rules         #
###############################

# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left

# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false

# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
